body {
  background-color: #2c2f33 !important;
}

nav {
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
}

#formula {
  width:10vw;
  height: 35vh;
  border-radius: 5vw;
  border: 1vw solid rgba(255, 255, 255, 0);
  inset: 0px;
  background-color: #3e4451
  
}

model-viewer {
  width: 300px;
  height: 300px;
}
#number1 {
  background-color: inherit;
  color: white;
}
