body {
  background-color: #2c2f33 !important;
}

#navbar {
  z-index:10;
  position:fixed;
  top:0;
  overflow: hidden;
}
@media (min-width: 1px){
#sliders {
  margin-top:10vw;
}
}
@media (min-width: 540px){
  #sliders {
margin-top: auto;
  }
  }
#Pabs {
  padding: 2vw;
  background-color: #3e4451 ;
  border-radius: 10vw;
  
}

#formula {
  width:10vw;
  height: 35vh;
  border-radius: 5vw;
  border: 1vw solid rgba(255, 255, 255, 0);
  inset: 0px;
  background-color: #3e4451
  
}

model-viewer {
  width: 300px;
  height: 300px;
}
#number1 {
  background-color: inherit;
  color: white;
}
